<configuration scan="true" scanPeriod="15 seconds">
    <property resource="application.properties" />
    <property name="LOG_DIR" value="/logs" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CASH_OPERATIONS_TXT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/CashOperations.log</file>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/CashOperations_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CASH_OPERATIONS_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/CashOperations.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/CashOperations_%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CASH_BALANCE_TXT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/CashBalance.log</file>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/CashBalance_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CASH_BALANCE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/CashBalance.json</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/CashBalance_%d{yyyy-MM-dd}.%i.json</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="com.ratimid.fibank_cash_desk.controller.CashOperationsController" level="info" additivity="false">
        <appender-ref ref="CASH_OPERATIONS_TXT" />
        <appender-ref ref="CASH_OPERATIONS_JSON" />
    </logger>

    <logger name="com.ratimid.fibank_cash_desk.controller.CashBalanceController" level="info" additivity="false">
        <appender-ref ref="BALANCE_TXT" />
        <appender-ref ref="BALANCE_JSON" />
    </logger>

    <root level="${root.level}">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.ratimid.fibank_cash_desk" level="${logger.com.ratimid.fibank_cash_desk}" />
    <logger name="com.raimitd.fibank_cash_desk.services" level="${logger.raimitd.fibank_cash_desk.services}" />
</configuration>